
.block {
	background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
	min-height: 180px;
}

.block:after {
	background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

.block .dropdown > .dropdown-menu {
	display: block;
}

.block .dropup > .dropdown-menu, .block .dropdown > .dropdown-menu {
    display: block;
    margin-bottom: 5px;
    position: static;
}

.block > .pull-left + .pull-left {
    margin-left: 20px;
}

.block.junior:after {
    content: "初阶";
}

.block.senior:after {
    content: "进阶";
}
